# Data files
*.csv
*.xlsx
data/

# Virtual environment
myenv/

# Jupyter notebook checkpoints
*-checkpoint.ipynb

# macOS system files
.DS_Store
mUC/notebooks/clustering.ipynb
mUC/notebooks/clustering_90d.ipynb
mUC/notebooks/Untitled.ipynb
mUC/notebooks/test.ipynb
mUC/notebooks/clustering_pembro.ipynb
mUC/notebooks/survival_cluster.ipynb
mUC/notebooks/survival_cluster_pembro.ipynb
mUC/notebooks/gbm.ipynb
mUC/notebooks/.ipynb_checkpoints/survival_full_cohort-checkpoint.ipynb
mUC/notebooks/data_cleaning_mUC_test.ipynb
mUC/notebooks/data_cleaning_mUC_training.ipynb
mUC/notebooks/.ipynb_checkpoints/survival_full_cohort-checkpoint.ipynb
mUC/notebooks/calculating_risk_score.ipynb
